:root {
  --width: max-width;
}

/* Set box-sizing globally */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.dashboard-container {
  /* display: flex;
  flex-direction: row; */

  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding: 20px;
  background: linear-gradient(180deg, #8bc6ec 0%, #9599e2 100%);
}

.placeholder-section {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 40px;
}

.row {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap; /* Allow wrapping for items in the row */
}

.row > * {
  max-width: 100%; /* Ensure children don't overflow */
}

.placeholder {
  flex: 1;
  min-height: 200px; /* Set to min-height instead of fixed height */
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.placeholder:hover {
  transform: translateY(-10px);
  box-shadow: 0 7px 30px rgba(0, 0, 0, 0.2);
}

.greeting {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 72px;
  gap: 0.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.word {
  opacity: 0;
  display: inline-block;
  white-space: nowrap;
}

.fade-in {
  animation: fadeIn 1.5s forwards;
}

/* Responsiveness for smaller screens, e.g., mobile devices */
@media (max-width: 768px) {
  .dashboard-container {
    flex-direction: column;
    align-items: center;
  }

  .greeting {
    font-size: 48px;
    top: 10px;
  }

  .placeholder-section {
    margin-top: 30px;
  }

  .row {
    flex-direction: column;
    gap: 15px;
  }

  .placeholder {
    width: 80%;
    height: 100px;
  }
}

#risk-link {
  text-decoration: none;
  color: inherit;
}
