.hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  cursor: pointer;
  margin-top: 15px;
}

.sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: auto;
  height: 100vh;
  background-color: #333; /* Darker color for chic look */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1;
  transition: width 0.5s ease;
}

.icon {
  display: flex;
  align-items: center;
  margin: 15px;
  color: white; /* White text for chic look */
  font-weight: 600; /* Bolder font for chic look */
}

.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 30px 15px;
}

.icon img {
  width: 40px; /* Smaller icons for cleaner look */
  height: 40px;
  margin-right: 15px;
}

/* Optional: Transition for smoother effect */
.icon img,
.icon span {
  transition: 0.3s;
}

.icon:hover img {
  transform: scale(1.1);
}

.icon:hover span {
  letter-spacing: 1px;
}
